body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background:url(Password.png) no-repeat;
	background-size: cover;
}

#Kotak{
	background:#F3DCB4;
	background:linear-gradient(to left,#F3DCB4,#FBCB78);
	border-radius: 8px;
	box-shadow: 1px 2px 8px;
	height: 350px;
	width: 450px;
	margin:8rem auto;}

#Nama-kotak{
	position: absolute;
	left: 590px;
	bottom:450px;
	font-size: 15px;
	color:#7A7979}

.Password{
	position: absolute;
	left: 500px;
	bottom: 400px;
	height: 20px;
	margin: center}

.Password input{
	border:none;
	background: transparent;
	border-bottom: 1px solid #fff;}

.Password label{
	font-size: 18px;
	color:#6E6E6E;
	font-family: 'Calibri'}

.PasswordBaru{
	position: absolute;
	left: 500px;
	bottom: 350px;
	height: 20px;
	margin: center}

.PasswordBaru input{
	border:none;
	background: transparent;
	border-bottom: 1px solid #fff;}

.PasswordBaru label{
	font-size: 18px;
	color:#6E6E6E;
	font-family: 'Calibri'}

.PasswordUlang{
	position: absolute;
	left: 500px;
	bottom: 300px;
	height: 20px;
	margin: center}

.PasswordUlang input{
	border:none;
	background: transparent;
	border-bottom: 1px solid #fff;}

.PasswordUlang label{
	font-size: 18px;
	color:#6E6E6E;
	font-family: 'Calibri'}

#Selesai{
	width:90px;
	height: 50px;
	background: #EFBF6A;
	border-radius: 8px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left: 630px;
	bottom: 200px}

.Link2{
	text-decoration: none;
	color: #7A7979;
	font-size: 17px;}
