body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background:url(sigin.jpg) no-repeat;
	background-size: cover;
}
#card{
	background:#F3DCB3;
	border-radius: 8px;
	box-shadow: 1px 2px 8px;
	height: 410px;
	width: 329px;
	margin: 6rem auto;
}
#card-content{
	position: absolute;
	left: 630px;
	bottom: 450px;
	font-size: 18px;
	color: #5A4114}

.SignUp{
	position: relative;
	left:10px;
	bottom: 30px;
	font-size: 22px
}

.form{
	position: absolute;
	left:550px;
	bottom: 250px;}

.form input[type="text"],input[type="Password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
	height: 20px
	margin: center;
	color:black;}

.form .text{
	font-size: 12px;
	position: absolute;
	left:30px;
	bottom:10px;
	color:blue;
}

.Submit2{
	text-decoration: none;
	color:#606060;
	font-size: 14px;
}

button{
	margin:45px 0 30px 0;
	height: 35px;
	width: 150px;
	font-size:18px;
	color:grey;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background:#EFBF6B;
	border-radius: 20px;
	border:1px solid #A1A1A1; 
	transition: .5s;
	position: absolute;
	left:65px;
}